spring:
  application:
    name: SpringBootDemo
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  datasource:
    url: ${jdbc.url}
    username: ${jdbc.username}
    password: ${jdbc.password}
    driver-class-name: ${jdbc.driver}
    type: com.alibaba.druid.pool.DruidDataSource
  data:
    redis:
      host: ${redis.host}
      port: ${redis.port}
      password: ${redis.password}
      database: ${redis.database}
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: 1000ms


mybatis:
  type-aliases-package: com.mulberry.entity
  configuration:
    map-underscore-to-camel-case: true


server:
  address: 0.0.0.0
  port: 80