<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
</head>
<body>
<h1>Upload File</h1>
    <form method="POST" enctype="multipart/form-data" action="/api/file/upload">
        名称:<input type="text" name="title"/><br>
        描述:<input type="text" name="description"><br>
        文件:<input type="file" name="file"/><br>
        <input type="submit" value="上传"/>
    </form>
    <br><br>
    <form method="POST" enctype="multipart/form-data" action="/api/file/uploads">
        名称:<input type="text" name="title"/><br>
        描述:<input type="text" name="description"><br>
        多个文件 <input type="file" name="files" multiple><p>
        <input type="submit" value="上传"/>
    </form>
</body>
</html>
